body {
    background-color: powderblue;
}

p {
color: red;
}
td {
    background-position: left center;
    background-color: #00A7E1; 
    background-repeat: no-repeat;
    background-size: 100px 100px; 
}